.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background: var(--c-white);
  z-index: 5000;
}

.header__inner {
   padding-block: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   @media (max-width: 992px) {
      padding-block: 20px;
   }

   @media (max-width: 720px) {
      padding-block: 10px;
   }
}

.header__title {
   display: flex;
   flex-direction: column;
}

.headerInformation {
   text-align: right;
}

.header__logo {
   background-color: transparent;
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
   gap: 25px;

   @media (max-width: 992px) {
      gap: 15px;
   }

   @media (max-width: 720px) {
      gap: 10px;
   }
}

.header__titleName {
   color: var(--c-primary);
   font-size: 3rem;
   letter-spacing: 0.14em;
   font-family: var(--f-base);
   font-weight: 600;
   font-weight: bold;

   @media (max-width: 992px) {
      font-size: 2.4rem;
   }

   @media (max-width: 720px) {
      font-size: 1.125rem;
   }
}

.header__logoIcon {
   width: 56px;
   aspect-ratio: 1;
   display: flex;
   align-items: center;
   justify-content: center;

   @media (max-width: 992px) {
      width: 36px;
   }

   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}

.header__underlogo {
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 0.625rem;
   line-height: 0.75rem;
   letter-spacing: 0.12em;
   color: #c6c6c6;
   margin: 7px 0px;

   @media (max-width: 992px) {
      display: none;
   }
}

.header__contacts {
   text-align: right;
}

.header__contacts--lg {
   @media (max-width: 992px) {
      display: none;
   }
}

.header__contacts--sm {
   @media (min-width: 992px) {
      display: none;
   }
}

.header__contacts_address {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.14em;
   color: #2f2f2f;
}

.header__contacts_phoneNumber {
   font-family: "Roboto";
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 41px;
   color: var(--c-primary);
   margin-top: 7px;
}

.header__contacts_timetable {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.14em;
   color: #2f2f2f;
   margin-top: 7px;
   margin-bottom: 10px;
}

.header__underline {
   border-bottom: 1px solid #d8d8d8;
   margin: 0 auto;
}

.UnderHeaderPhoneMenuComponent {
   display: none;

   @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: flex-end;
   }
}

.menuButtonsPhone {
   float: right;
}

.menuButtonsAll__makeAnAppointmentButton {
   width: 191px;
   justify-self: end;
   cursor: pointer;
   background-color: transparent;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   color: #ffffff;
}

.menuButtonsPhone__menu {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   color: #484848;
   font-size: 24px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   padding: 16px 30px;
   cursor: pointer;
   background-color: transparent;
}

.menu-btn {
   display: none;

   @media (max-width: 992px) {
      display: none;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      cursor: pointer;
      background-color: transparent;
   }

   span {
      position: absolute;
      background-color: var(--c-grey-90);
      border-radius: var(--b-radius);
      width: 26px;
      height: 3px;
      transition: all 0.35s ease-in-out;

      &:nth-child(1) {
         transform: translateY(-8px);
      }

      &:nth-child(3) {
         transform: translateY(8px);
      }
   }
}

.menu-btn--active {
   span {
      &:nth-child(1) {
         transform: rotate(45deg);
      }

      &:nth-child(2) {
         opacity: 0;
      }

      &:nth-child(3) {
         transform: rotate(-45deg);
      }
   }
}

.header__mobile-nav {
   display: flex;
   flex-direction: row;
   gap: 25px;
   align-items: center;

   @media (max-width: 992px) {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      margin-top: var(--h-header-md);
      height: calc(100vh - var(--h-header-md) - 100px);
      background: var(--c-white);
      transition: all 0.5s ease-in, opacity 0s linear 0.5s;
      translate: calc(100svw + 14px) 0;
      padding: 30px;
      overflow: auto;
      padding-bottom: 70px;
   }

   @media (max-width: 720px) {
      margin-top: var(--h-header-sm);
      height: calc(100vh - var(--h-header-sm) - 100px);
   }
}

.header__mobile-nav--active {
   opacity: 1;
   transition: all 0.5s ease-in, opacity 0s;
   translate: 0;
}

.menuPhoneUnderline {
   border-bottom: 1px solid #d8d8d8;
   width: 100%;
}
