.aboutClinicBlock {
    width: 270px;
    min-width: 100px;
    height: 400px;
    display: flex;
    margin: 13.5px;
    flex-direction: column;

    background: linear-gradient(209.51deg, #9fa6e8 0.34%, #3281c9 99.44%);
    box-shadow: 15px 15px 45px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.aboutClinicBlock__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
