/* .InformationContainer {
    width: 1920px;
    height: 1080px;
    color: red;
    margin: 0 auto;
    /* margin-bottom: 20px; */
    /* text-align: center;
} */ 

.informationBlock {
    width: 1920px;
    height: 703px;
    background-image: url("../../img/bg_fone.png"); 
}


.informationHeading {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 1040px;
    margin: 0px 10px; 
    letter-spacing: 0.05em;
    padding: 20px 10px 20px 50px;
    color:#484848;
} 

.informationTextContainer {
    width: 1040px;
    height: 612px;
    text-align: center;
}
