
.informationBlock {
    width: 1920px;
    padding-top: 5px;
    height: 703px;
    background-image: url("../../img/bg_fone.png"); 
}


.informationHeading {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    width: 1040px;
    /* margin: 0px 10px;  */
    letter-spacing: 0.05em;
    padding: 20px 10px 20px 50px;
    color:#484848;
} 

.informationTextContainer {
    width: 1040px;
    height: 627px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: flex-start;
    padding: 10px 10px 15px;
    border-top: 100px;
    margin: 37px 240px;   
}

.informationUnderLine {
    border: 1px solid #4C89C1;
    width: 750px;
}

.informationAboutClinic {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    padding: 20px 70px 20px 70px;
    color: #424242;
    margin: 0px 10px;
}