.PriceListBlock {
   width: 100%;
}

.PriceListComponent__table {
   border-collapse: collapse;
   width: 100%;

   td {
      padding-left: 25px;
   }

   td {
      padding-block: 10px;
   }

   tr {
      &:nth-child(odd) {
         background-color: #ffffff; /* фон нечетных строк */
      }

      &:nth-child(even) {
         background-color: #f9f9f9; /* фон четных строк */
      }

      &:not(:last-child) {
         border-bottom: 1px solid #ddd;
      }
   }
}

.OfertaComponent {
   background: linear-gradient(89.89deg, #4c89c1 0%, #9fa6e8 100%);
   color: #ffffff;
   padding: 15px 50px;
   border-radius: 10px;
   text-align: center;
}

.OfertaComponent__inner {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.05em;
}

@media (min-width: 992px) {
   .OfertaComponent {
      min-width: 700px;
   }
}
