.PriceListBlock {
   width: 100%;
}

.PriceListComponent__table {
   border-collapse: collapse;
   table-layout: auto;
   width: 100%;

   td {
      padding-left: 25px;

      &:last-child {
         padding-right: 25px;
      }
   }

   td {
      padding-block: 10px;
   }

   tr {
      &:nth-child(odd) {
         background-color: #ffffff; /* фон нечетных строк */
      }

      &:nth-child(even) {
         background-color: #f9f9f9; /* фон четных строк */
      }

      &:not(:last-child) {
         border-bottom: 1px solid #ddd;
      }
   }
}

.code,
.price {
   white-space: nowrap;
}

.name {
   width: 100%;
}

.OfertaComponent {
   background: linear-gradient(89.89deg, #4c89c1 0%, #9fa6e8 100%);
   color: #ffffff;
   padding: 15px 50px;
   border-radius: 10px;
   text-align: center;
}

.OfertaComponent__inner {
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.05em;
}

@media (min-width: 992px) {
   .OfertaComponent {
      min-width: 700px;
   }
}

.pagination {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: flex-end;
   gap: 2rem;
   margin-top: 2rem;

   button {
      width: 4rem;
      height: 4rem;
      border-radius: 50rem;
      cursor: pointer;
      background-color: #91a4e4;
      color: #fff;
      font-size: 1.4rem;
      transition: all 0.3s ease-in-out;

      &:disabled {
         background-color: #dcdcdc;
         cursor: not-allowed;
      }

      &:hover:not(:disabled) {
         opacity: 0.6;
      }
   }

   span {
      font-size: 1.4rem;
   }
}