.service-page__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.service-page,
.InfoQualificationsPage,
.InfoRegulationsPage,
.InfoMapPage {
   background-image: url("../img/pages-bg.png");
   background-repeat: no-repeat;
   background-size: 100%;
   padding-bottom: 120px;
}

.newsPageComponent,
.ContactsPageComponent,
.InfoAboutPage,
.InfoVacanciesPage,
.InfoControlOrgPage,
.InfoLicencePage,
.InfoVacanciesPage,
.DmsPage,
.InfoOffDocumentsPage,
.InfoLegFramPage,
.specific_new_page {
   background-image: url("../img/img-bg-5-4.png");
   background-repeat: no-repeat;
   background-size: 100%;
   padding-bottom: 120px;
}

@media (min-width: 720px) {
   .service-page__container {
      gap: 50px;
   }
}

@media (min-width: 992px) {
   .service-page,
   .InfoQualificationsPage,
   .InfoRegulationsPage,
   .InfoMapPage {
      min-height: 1000px;
      background-size: 100% 1050px;
   }

   .newsPageComponent,
   .ContactsPageComponent,
   .InfoAboutPage,
   .InfoVacanciesPage,
   .InfoControlOrgPage,
   .InfoLicencePage,
   .InfoVacanciesPage,
   .DmsPage,
   .InfoOffDocumentsPage,
   .InfoLegFramPage,
   .specific_new_page {
      min-height: 900px;
      background-size: 100% 950px;
   }

   .service-page__container {
      gap: 70px;
   }
}
