.aboutClinic__text {
   margin-bottom: 40px;
   max-width: 1000px;
   margin-inline: auto;
}

.aboutClinic__description {
   font-family: var(--f-base);
   font-style: normal;
   font-weight: 300;
   line-height: 1.4;
   text-align: center;
   font-size: 16px;
   color: #484848;
}

.aboutClinic__aboutClinicBlockComponent {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 20px;

   @media (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      margin-inline: auto;
      max-width: 1000px;
   }

   @media (max-width: 992px) {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      padding-block: 20px;
      padding-inline: var(--pi-container-md);
      margin-inline: calc(var(--pi-container-md) * -1);
   }

   @media (max-width: 729px) {
      padding-inline: var(--pi-container-xs);
      margin-inline: calc(var(--pi-container-xs) * -1);
      gap: 20px;
   }
}

.aboutClinic__hr {
   border-bottom: 1px solid #4c89c1;
   margin-top: 40px;
}

@media (min-width: 720px) {
   .aboutClinic__text {
      margin-bottom: 50px;
   }

   .aboutClinic__description {
      font-size: 18px;
   }
}

@media (min-width: 1280px) {
   .aboutClinic__aboutClinicBlockComponent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
   }
}
