.aboutClinic__text {
   margin-left: 20px;
   margin-right: 20px;
}

.aboutClinic__description {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   line-height: 21px;
   text-align: center;
   color: #484848;
}

.aboutClinic__aboutClinicBlockComponent {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 20px;
   margin-top: 20px;
}

.aboutClinic__hr {
   border-bottom: 1px solid #4c89c1;
   margin-top: 40px;
}

@media (min-width: 720px) {
   .aboutClinic__aboutClinicBlockComponent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
   }
}

@media (min-width: 1280px) {
  .aboutClinic__aboutClinicBlockComponent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
 }
}

@media (min-width: 1280px) {
}
