.menuButtonsAll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;
}

.makeAnAppointmentButton {
    width: 191px;
    justify-self: end;
}