.menuButtons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 26px;
}

.menuButton {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    color: #484848;
    padding: 26px 0px;
    cursor: pointer;
    background-color: transparent;
}
