.UnderHeaderMenuComponent {
  background-color: #6385db;
  position: sticky;
  top: var(--h-header-lg);
  z-index: 500;
}

.menuButtonsAll {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
}

.menuButtonsAll__makeAnAppointmentButton {
  width: 191px;
  justify-self: end;
  cursor: pointer;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 992px) {
  .UnderHeaderMenuComponent {
    display: none;
  }
}

@media (max-width: 720px) {
  .UnderHeaderMenuComponent__inner {
    margin-left: 10px;
    margin-right: 10px;
  }
}
